/* Estilos opcionales para los productos */
.producto {
    cursor: pointer;
    margin-bottom: 20px;
}

.producto img {
    width: 200px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
}